<!DOCTYPE html>
<html>
<head>
<title>TraveLog</title>
<meta charset="UTF-8">
<!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="static/styles/starter-template.css">
<!-- End Bootstrap -->
</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">TraveLog</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>

<div class="container">

<div class="starter-template">
  <h1>Welcome to TraveLog!</h1>
  
  <div id="fb-login" class="fb-btn" hidden>
    <fb:login-button scope="public_profile,email" size="xlarge" onlogin="checkLoginState();">
      Login with Facebook
    </fb:login-button>
  </div>

  <div id="fb-status" class="fb-btn" hidden>
  </div>

  <div id="svr-connect" class="fb-btn" hidden>
    <h3>Please provide your banking information</h3>
    <form name="svr-login" action="#" method="POST">
      <p>
        <label>Your bank:&nbsp;</label>
        <select name="type">
          <option value="amex">American Express</option>
          <option value="bofa">Bank of America</option>
          <option value="chase">Chase</option>
          <option value="citi">Citi</option>
          <option value="us">US Bank</option>
          <option value="usaa">USAA</option>
          <option value="wells">Wells Fargo</option>
        </select>
      </p>
      <p>
        <label>Username:&nbsp;</label>
        <input type="text" name="username">
      </p>
      <p>
        <label>Password:&nbsp;</label>
        <input type="password" name="password">
      </p>
      <p>
        <button type="submit">Submit</button>
        <button type="reset">Clear</button>
      </p>
    </form>
  </div>

</div>

</div><!-- /.container -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script>

  function serverConnect() {
    $.ajax({
      url: "/connect",
      context: document.body,
      statusCode: {
        200: function() {
          $('#svr-connect').hide();
        },
        201: function() {
          $('#svr-connect').show();
        },
        403: function() {
          alert("Check cookie");
        }
      }
    });
  }

  // This is called with the results from from FB.getLoginStatus().
  function statusChangeCallback(response) {
    console.log('statusChangeCallback');
    console.log(response);
    if (response.status === 'connected') {
      $('#fb-login').hide();
      FB.api('/me', function(response) {
        console.log('Successful login for: ' + response.name);
        $('#fb-status').show();
        $('#fb-status').text('Thanks for logging in, ' + response.name + '!');
      });
      serverConnect();
    } else {
      $('#fb-login').show();
    }
  }

  window.fbAsyncInit = function() {
  FB.init({
    appId      : '739575586113329',
    cookie     : true,
    xfbml      : true,
    version    : 'v2.1'
  });

  FB.getLoginStatus(function(response) {
    statusChangeCallback(response);
  });

  };

  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

</script>

</body>
</html>
